{% extends "base.html" %}
{% load static %}
{% load price_tools %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <form method="POST" action="{% url 'add_item' %}" id="item-form" class="form mb-2"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="manage-cards card">
                    <h3 class="card-header">Add a book to the shop</h3>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                {{ form.title | as_crispy_field }}
                                <p class="bold">Author/s *</p>
                                <p class="italic">Select an existing author or add a new one in the fields below.</p>
                                <div class="inline-author-input">
                                    <select id="id_authors" class="form-select">
                                        <option disabled selected></option>
                                        {% for author in authors_select %}
                                        <option value="{{ author }}">{{ author }}</option>
                                        {% endfor %}
                                    </select>
                                    <button type="button" id="add_author_1" class="btn btn-secondary standard-button"
                                        aria-label="Select author">Confirm</button>
                                </div>
                                <div class="inline-author-input">
                                    <div id="id_new_authors" class="input-group">
                                        <input type="text" aria-label="First name" class="form-control"
                                            id="id_first_name" placeholder="First name">
                                        <input type="text" aria-label="Last name" class="form-control" id="id_surname"
                                            placeholder="Last name">
                                    </div>
                                    <button id="add_author_2" class="btn btn-secondary standard-button" type="button"
                                        aria-label="Add new author">Add
                                        author</button>
                                </div>
                                <p class="bold">Selected Authors</p>
                                <div id="store-authors" class="form-control" readonly></div>
                                <textarea class="visually-hidden" id="hidden-authors" type="textarea" name="authors"
                                    required></textarea>
                                {{ form.genre | as_crispy_field }}
                                {{ form.age_range | as_crispy_field }}
                                {{ form.image | as_crispy_field }}
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                {{ form.description | as_crispy_field }}
                                {{ form.price | as_crispy_field }}
                                {{ form.discount | as_crispy_field }}
                                {{ form.featured | as_crispy_field }}
                            </div>
                            <div class="row">
                                <div class="d-grid gap-2 col-sm-12 col-md-6 col-lg-6 mx-auto">
                                    <button type="submit" class="btn btn-secondary standard-button" id="add-item-btn"
                                        aria-label="Add item to shop">Add Book To Shop</button>
                                    <a href="{% url 'items' %}" id="add-cancel-btn"
                                        class="btn btn-secondary standard-button" aria-label="Cancel">Cancel</a>
                                </div>
                            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script>
    let alreadyInput = []

    $("#add_author_1").click(function (e) {
        e.preventDefault;
        let newValue = $("#id_authors").val()
        let node = document.createElement("span");
        let alreadyHiddenText = document.getElementById("hidden-authors");
        let hiddenTextToAdd = document.createTextNode(`${newValue};`)
        if (alreadyInput.includes(newValue)) {
            alert('You have already selected this author')
        } else {
            node.innerHTML =
                `${newValue} <span onclick="deleteThis(this)" class="p-1"><i class="fas fa-times"></i></span>`
            alreadyHiddenText.appendChild(hiddenTextToAdd)
            $(node).attr('class', 'badge rounded-pill bg-light text-dark ml-1 mb-1')
            $('#store-authors').append(node)
            alreadyInput.push(newValue)
        }
    });
    $("#add_author_2").click(function (e) {
        e.preventDefault;
        let valueFirstname = $.trim($("#id_first_name").val())
        let valueSurname = $.trim($("#id_surname").val())
        if (valueFirstname != "" && valueSurname != "") {
            let newValue = `${valueFirstname} ${valueSurname}`
            console.log(valueFirstname)
            let node = document.createElement("span");
            let alreadyHiddenText = document.getElementById("hidden-authors");
            let hiddenTextToAdd = document.createTextNode(`${newValue};`)
            if (newValue != " ") {
                if (alreadyInput.includes(newValue)) {
                    alert('You have already selected this author')
                } else {
                    node.innerHTML =
                        `${newValue} <a onclick="deleteThis(this)" class="p-1"><i class="fas fa-times"></i></a>`
                    alreadyHiddenText.appendChild(hiddenTextToAdd)
                    $(node).attr('class', 'badge rounded-pill bg-light text-dark ml-1 mb-1')
                    $('#store-authors').append(node)
                    alreadyInput.push(newValue)
                }
            } else {
                alert('Please select or enter an author name')
            }
        } else {
            alert('Please make sure you have entered both a first and last name')
        }
    });

    function deleteThis(elem) {
        $(elem).parent('span').remove();
        let string = document.getElementById('hidden-authors').innerHTML
        console.log(string)
        let term = elem.parentElement.textContent.trim()
        console.log(term)
        let replaced = string.replace(term, '')
        document.getElementById('hidden-authors').innerHTML = replaced
    }

    $(document).ready(function () {
        let discount = $('#id_discount')
        discount.prop('disabled', true);

        $('#id_price').focusin(function () {
            let price_field = $('#id_price')
            if (price_field.val() == '0.0') {
                price_field.val("")
            } else if (price_field.val() == '0.00') {
                price_field.val("")
            } else if (price_field.val() == '0') {
                price_field.val('0.00')
            } else {
                let updated_price = price_field.val()
                price_field.val(updated_price)
            }
        })

        $('#id_price').blur(function () {
            let price_field = $('#id_price')
            if ((price_field.val() == "") || (price_field.val() == "0.0") || (price_field.val() ==
                    "0")) {
                price_field.val("0.00")
                discount.val('0')
                discount.prop('disabled', true);
            } else {
                let updated_price = price_field.val()
                price_field.val(updated_price)
                discount.prop('disabled', false);
            }
        })



        $('#id_discount').focusin(function () {
            let discount = $('#id_discount')
            if ((discount.val() == '0') || (discount.val() == '0.00')) {
                discount.val("")
            } else {
                let updated_discount = discount.val()
                discount.val(updated_discount)
            }
        })

        $('#id_discount').blur(function () {
            let discount = $('#id_discount')
            if (discount.val() == '') {
                discount.val("0")
            } else {
                let updated_discount = discount.val()
                discount.val(updated_discount)
            }
        })

    })
</script>
{% endblock %}