{% extends "base.html" %}
{% load static %}
{% load price_tools %}
{% load crispy_forms_tags %}

{% block header %}
{% endblock %}

{% block content %}


<div class="container">
  <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">

<form method="POST" id="author-form" action="{% url 'add_author' %}" class="form mb-2" enctype="multipart/form-data">
    {% csrf_token %}
    
   {% for field in author_form %}
    {{ field | as_crispy_field }}
   {% endfor %}

    <div class="text-right">
        <a href="#" onclick="closeWindow()" class="btn btn-outline-black rounded-0">Cancel</a>
        <button id="add-new" onclick="closeSubmit()" class="btn btn-black rounded 0" type="submit">Add Author</button>

    </div>
</form>
<p id="add_another"></p>

    {% endblock %}

</div>
</div>
</div>

{% block postloadjs %}
<script>


</script>
<script src="{% static 'items/js/add_author.js' %}"></script>
{% endblock %}


