{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
        <!-- <select class="sort-select" aria-label="">
            <option selected>sort by</option>
            <option value="price_high_low">Price: high-low</option>
            <option value="price_low_high">Price: low-high</option>
            <option value="name_az">Name (A-Z)</option>
          </select> -->
    </div>
</div>
<div class="row">
    {% if narrow_age is True %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }},{% endfor %}&ages_narrow=preschool">Little learners</a>
          <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }},{% endfor %}&ages_narrow=5-7,6-8">Little readers</a>
          <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }},{% endfor %}&ages_narrow=8-10,teen">Big readers</a>
        </li>
      </ul>
    {% endif %}
    {% if narrow_genre is True %}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }},{% endfor %}&genres_narrow=animals">Animals</a>
          <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }},{% endfor %}&genres_narrow=space">Space</a>
          <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }},{% endfor %}&genres_narrow=history">History</a>
        </li>
      </ul>
      {% endif %}
</div>
    <div class="row">
        {% for item in items %}
        <div class="col-4 item">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'item_detail' item.id %}">
                        <p><strong>{{ item.title }}</strong></p>
                    </a>
                    {% for author in item.author.all %}
                    <p><em>{{ author }}</em></p>
                    {% endfor %}
                    {% for age in item.age_range.all %}
                    <p><em>{{ age }}</em></p>
                    {% endfor %}
                    <p>{{ item.price }}</p>
                    <p class="text-truncate">{{ item.description }}</p>
                    <a href="{% url 'item_detail' item.id %}"><img src="/media/{{ item.image }}"></a>
                </div>
                <div class="card-footer">
                    {% for genre in item.genre.all %}
                    <small class="text-muted">{{ genre }}</small>
                    {% endfor %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

</script>

{% endblock %}

{% block postloadjs %}

<!-- Code below is based on Code Institue Boutique Ado project -->

<!-- $('#sort-select').change(function() {
    var selector = $(this);
    var currentUrl = new URL(window.location);

    var selectedVal = selector.val();
    if(selectedVal != "reset"){
        var sort = selectedVal.split("_")[0];
        var direction = selectedVal.split("_")[1];

        currentUrl.searchParams.set("sort", sort);
        currentUrl.searchParams.set("direction", direction);

        window.location.replace(currentUrl);
    } else {
        currentUrl.searchParams.delete("sort");
        currentUrl.searchParams.delete("direction");

        window.location.replace(currentUrl);
    }
})

{% endblock %} -->
