{% extends "base.html" %}
{% load static %}
{% load price_tools %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">

    </div>
</div>
{% include 'includes/narrow_search_nav.html' %}
    <div class="row">
        {% for item in items %}
        <div class="col-4 item">
            <div class="card">
                <div class="card-body">
                    <a href="{% url 'item_detail' item.id %}">
                        <p><strong>{{ item.title }}</strong></p>
                    </a>
                    {% for author in item.author.all %}
                    <p><em>{{ author }}</em></p>
                    {% endfor %}
                    {% for age in item.age_range.all %}
                    <p><em>{{ age }}</em></p>
                    {% endfor %}
                    {% if item.discount > 0 %}
                    <p><strike>£{{ item.price }}</strike></p>
                    <p>Sale Price! £{{ item.price | calc_discount:item.discount }}</p>
                    {% else %}
                    <p>£{{ item.price }}</p>
                    {% endif %}
                    <p class="text-truncate">{{ item.description }}</p>
                    <a href="{% url 'item_detail' item.id %}"><img src="/media/{{ item.image }}"></a>
                </div>
                <div class="card-footer">
                    {% for genre in item.genre.all %}
                    <small class="text-muted">{{ genre }}</small>
                    {% endfor %}
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

</script>

{% endblock %}

{% block postloadjs %}

<!-- Code below is based on Code Institue Boutique Ado project -->



{% endblock %}
