{% extends "base.html" %}
{% load static %}
{% load price_tools %}


{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
            <img id="header-cover" class="card-img-top img-fluid" src="/media/{{ item.image }}" alt="{{ item.name }}">

        </div>
        <div class="col-sm-12 col-md-6 col-lg-8">
                        <a href="{% url 'update_item' item.id %}">Edit</a> | <a href="{% url 'delete_item' item.id %}">Delete</a>
                        <p>{{ item.title }}</p>
            {% for author in item.author.all %}
            <p>{{ author }}</p>
            {% endfor %}
            {% for age_range in item.age_range.all %}
            <p>{{ age_range }}</p>
            {% if age_range == preschool %}hi{% endif %}
            {% endfor %}
            <p>{{ item.description }}</p>
            {% if item.set_sale_price != 0.00 %}
                    <p><strike>£{{ item.price }}</strike></p>
                    <p>Sale Price! £{{ item.set_sale_price }}</p>
                    {% elif item.discount > 0 %}
                    <p><strike>£{{ item.price }}</strike></p>
                    <p>{{ item.discount }}% off! £{{ item.price | calc_discount:item.discount }}</p>
                    {% else %}
                    <p>£{{ item.price }}</p>
                    {% endif %}
           
        </div>
    </div>
    <div class="row">
        <h4>Items related to your search...</h4>
    </div>
    <div class="row">
        {% for related in related_items %}
        <div class="col-sm-12 col-md-2">
            <a href="{% url 'item_detail' related.id %}"><img src="/media/{{ related.image }}" alt="" width="100px"></a>
        </div>
        {% endfor %}
    </div>
</div>
</div>

<!-- CREDIT W3Schools for Cover Image Modal display -->
<div id="cover-img-modal" class="modal">
<span class="close">&times;</span>
<img class="modal-content" id="cover">
</div>

{% endblock %}

{% block postloadjs %}
<!-- CREDIT W3Schools for Cover Image Modal display -->
<script>
    var modal = document.getElementById("cover-img-modal");
    var img = document.getElementById("header-cover");
    var modalImg = document.getElementById("cover");
    var captionText = document.getElementById("caption");
    img.onclick = function () {
        modal.style.display = "block";
        modalImg.src = this.src;
        captionText.innerHTML = this.alt;
    }

    var span = document.getElementsByClassName("close")[0];
    span.onclick = function () {
        modal.style.display = "none";
    }
</script>

{% endblock %}