{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10 col-sm-12">
            <div class="card m-3">
                <div class="card-header zig-zag">
                    <div class="white-fade"></div>
                    <h3>Manage Your Flash Sales & Campaigns</h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="d-grid gap-2 col-sm-12 col-md-6 col-lg-6 mx-auto w-100">
                            <a class="btn btn-secondary standard-button" href="{% url 'create_campaign' %}" aria-label="Create a new campaign">Create A New
                                Flash Sale</a>
                        </div>
                    </div>
                    <hr>
                    {% if campaigns|length > 0 %}
                    {% for campaign in campaigns %}
                    <div class="row d-flex ">

                        <!-- DELETE CAMPAIGN MODAL -->
                        <div class="modal fade" id="deleteModal{{ campaign.id }}" tabindex="-1" role="dialog"
                            aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="modal-title" id="deleteModalLabel">Are you sure?</h3>
                                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Do you really want to delete the campaign {{ campaign.campaign_name }}?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Cancel">No!
                                            Cancel</button>
                                        <a href="{% url 'delete_campaign' campaign.id %}" class="btn btn-secondary" aria-label="Confirm delete">Yes,
                                            delete</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END MODAL -->

                        <div class="row campaign-details justify-content-between">
                            <div class="col-md-3">
                                <a href="{% url 'update_campaign' campaign.id %}">{{ campaign.campaign_name }}</a>
                            </div>
                            <div class="col-md-5">
                                <li class="p-0">{{ campaign.item_set.all.count }} Item{% if campaign.item_set.all.count != 1 %}s{% endif %}
                                        Included</li>
                            </div>
                            <div class="col-md-2">
                                <span>Price: £{{ campaign.fixed_price }}</span>
                            </div>
                            <div class="col-md-2">
                                <div class="d-flex flex-column">
                                    {% if campaign.active == True %}
                                    <a class="btn btn-enabled standard-button"
                                        href="{% url 'deactivate_campaign' campaign.id %}" aria-label="Disable campaign">Disable</a>
                                    {% elif campaign.active == False %}
                                    <a class="btn btn-disabled standard-button"
                                        href="{% url 'activate_campaign' campaign.id %}" aria-label="Enable campaign">Enable</a>
                                    {% endif %}
                                    <a class="btn btn-danger standard-button" data-bs-toggle="modal"
                                        data-bs-target="#deleteModal{{ campaign.id }}" aria-label="Delete campaign">Delete</a>
                                </div>
                            </div>

                        </div>
                    
                        {% if not forloop.last %}
                        
                        {% endif %}
                    </div>   
                    {% if not forloop.last %}  
                    <hr>
                    {% endif %}                   
                    {% endfor %}
                    
                    {% else %}
                    <div class="row">
                        
                        <div class="row">
                            <p>Looks like you don't currently have any campaigns. Why not <a
                                    href="{% url 'create_campaign' %}"> set
                                    one up?</a></p>
                        </div>
                        
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}