{% extends "base.html" %}
{% load static %}
{% load price_tools %}
{% load crispy_forms_tags %}

{% block subhead %}
<h2>Update item: {{ item.title }} by {% for author in item.author.all %}
    {% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}
{{ author }}
    {% endfor %}</h2>
{% endblock %}

{% block content %}


<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4">

<form method="POST" action="{% url 'update_item' item.id %}" class="form mb-2" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ form.title | as_crispy_field }}
    {{ form.author | as_crispy_field }}
    <a href='#' class='btn btn-small' id="add-author" data-bs-toggle="modal" data-bs-target="#exampleModal">Add new author</a>

    {{ form.genre | as_crispy_field }}
    {{ form.age_range | as_crispy_field }}
    {{ form.description | as_crispy_field }}
    {{ form.price | as_crispy_field }}
    {{ form.discount | as_crispy_field }}
    {{ form.set_sale_price | as_crispy_field }}


    <div class="text-right">
        <a href="{% url 'items' %}" class="btn btn-outline-black rounded-0">Cancel</a>
        <button class="btn btn-black rounded 0" type="submit">Update book listing</button>
    </div>
</form>


    
    {% endblock %}
    
    {% block postloadjs %}
    <!-- CREDIT W3Schools for Cover Image Modal display -->
    <script>
       $('#add-author').click(function() {
        window.open('https://8000-olive-bee-7evbg3jd.ws-eu13.gitpod.io/items/add_author/','_blank','height=400,width=500,left=300,top=200', true);
        
      }
       )
      
    </script>
    
    {% endblock %}



