{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid m-auto">
        <div id="featured-collections-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div id="image-1" class="d-block w-100"><h1 class="display-5">Our World</h1></div>
                </div>
                <div id="image-2" class="carousel-item">
                    <div class="d-block w-100"><h1 class="display-5">Things that move</h1></div>
                </div>
                <div id="image-3" class="carousel-item">
                    <div class="d-block w-100"><h1 class="display-5">Little Astronomers</h1></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
<script>
$(document).ready(function()
{
    $('.carousel').carousel({
      interval: 4000
    });

    $('.carousel').carousel('next');
});
</script>
{% endblock %}