{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid d-block d-sm-none">
    <div class="img-row">
            <div class="overlay-text-top" href="{% url 'items' %}?&sort=newly_listed">view our latest collections</div>
        <img id="mobile-image-1" class="" src="{{ MEDIA_URL }}beautiful_collection.jpg" alt="">  
    </div>
</div>

<div class="container-fluid d-none d-sm-block">
        <div id="featured-collections-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a class="overlay-text" href="{% url 'items' %}?&sort=newly_listed">from little astronomers...
                   </a>
                    <img id="image-1" src="{{ MEDIA_URL }}space_collection.jpg" alt="Space books collection">
                </div>
                <div class="carousel-item">
                    <a class="overlay-text" href="{% url 'items' %}?&sort=newly_listed">...to curious minds
                   </a>                    
                   <img id="image-2" src="{{ MEDIA_URL }}beautiful_collection.jpg" alt="Gift books collection">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for item in items|slice:':4' %}
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 item">
                <div class="item-card card">
                    <a href="{% url 'item_detail' item.id %}"><img src="{{ MEDIA_URL }}{{ item.image }}" class="card-img-top cogs" alt="..."></a>
                    <div class="card-body">
                        <a href="{% url 'item_detail' item.id %}">
                            <p class="title-author"><strong class="item-card-title">{{ item.title }}</strong></p>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
<script>
$(document).ready(function()
{
    $('.carousel').carousel({
      interval: 2000
    });
    $('.carousel').carousel('next');
});

</script>
{% endblock %}