{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container m-auto">
        <div id="featured-collections-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                
                <div class="carousel-item active">
                    <div id="overlay"><div id="overlay-text">Our World</div></div>
                    <div id="image-1" class="d-block w-100"></div>
                </div>
                <div id="image-2" class="carousel-item">
                    <div id="overlay"><div id="overlay-text">Things that move</div></div>
                    <div class="d-block w-100"></div>
                </div>
                <div id="image-3" class="carousel-item">
                    <div id="overlay"><div id="overlay-text">Little Astronomers</div></div>
                    <div class="d-block w-100"></div>
                </div>
            
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
<script>
$(document).ready(function()
{
    $('.carousel').carousel({
      interval: 4000
    });

    $('.carousel').carousel('next');

   

});


</script>
{% endblock %}