{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="ol-sm-12 col-md-6 col-lg-6">
            <div class="card m-3">
                <div class="card-header zig-zag">
                    <div class="white-fade"></div>
                    <h5 id="top-layer-orders">Your orders</h5>
                </div>
                <div class="card-body">
                    <div id="search-field">
                        <form class="" method="GET" action="{% url 'profile' %}">
                            <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search"
                                name="q">
                            <button class="btn btn-secondary profile-buttons" type="submit">Search</button>
                            <a id="show-all" href="{% url 'profile' %}?show-all"
                                class="btn btn-secondary profile-buttons">Show all orders</a>
                        </form>
                    </div>
                    {% if previous_orders %}
                    {% if orders %}
                    {% for order in orders %}
                    <hr>
                    <table class="table">
                        <div class="list-group-flush">
                            <p class="list-item m-0 pl-2"><strong>Order Number:</strong> {{ order.order_number }}</p>
                            <p class="list-item m-0 pl-2"><strong>Order Date:</strong> {{ order.order_date|date:'d-m-Y' }}:</p>
                        </div>
                        {% for o in order.lineitems.all %}
                        <tr> 
                            <td colspan="2" class="text-truncate d-inline-block m-0">{{ o.item.title }}</td>
                            <td colspan="1" class="text-muted"> x {{ o.quantity }}</td>
                            <td colspan="2" class="text-end pr-4">{{ o.line_total }}</td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td colspan="3" class="d-inline-block m-0">Total basket cost:</td>
                            <td colspan="2" class="text-end">{{ order.basket_total }}</td>
                        </tr>
                    </table>
                    {% endfor %}
                    {% elif orders is None %}
                    <p class="p-1">Search by order number, product name or author, or select 'Show all'.</p>
                    {% else %}
                    <p class="p-1">We can't find that order. Why not try a different search term, or select 'Show All
                        Orders'?</p>
                    {% endif %}
                    {% else %}
                    <p class="p-1">You don't yet have any orders to display. 
                        {% if featured_items %}
                        Why not take a look at our featured books?
                    </p>
                    <div class="row zig-zag pt-3 pb-3">
                        {% for featured in featured_items|slice:":3" %}
                        <div class="col-4">
                            <a class="related-item" href="{% url 'item_detail' featured.id %}"><img
                                    src="{{ MEDIA_URL }}{{ featured.image }}" alt=""></a>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    {% endif %}

        </div>
    </div>
</div>

<div class="col-sm-12 col-md-6 col-lg-6">
    <div class="card m-3">
        <div class="card-header zig-zag">
            <div class="white-fade"></div>
            <h5 id="top-layer-orders">Your details</h5>
        </div>
        <div class="card-body">
            <p><a class="btn btn-secondary standard-button" href="{% url 'account_change_password' %}">Change
                    password</a></p>
            <form class="" action="{% url 'profile' %}" method="POST">
                {% csrf_token %}
                {{ info_form|crispy }}
                <button class="btn btn-secondary mt-2">Save information</button>
            </form>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}