{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
<form action="{% url 'checkout' %}" method="POST" id="payment-form">
    {% csrf_token %}
    <p>{{ order_form.customer_name }}</p>
    <p>{{ order_form.phone_number }}</p>
    <p>{{ order_form.email_address }}</p>
    <p>{{ order_form.street_address1 }}</p>
    <p>{{ order_form.street_address2 }}</p>
    <p>{{ order_form.town_or_city }}</p>
    <p>{{ order_form.postcode }}</p>
    <fieldset class="px-3">
        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
        {% if user.is_authenticated %}
								<label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
                                <input class="form-check-input ml-2 mr-0" type="checkbox" id="id-save-info" name="save-info" checked>
							{% else %}
								<label class="form-check-label" for="id-save-info">
                                    <a class="text-info" href="{% url 'account_signup' %}">Create an account</a> or 
                                    <a class="text-info" href="{% url 'account_login' %}">login</a> to save this information
                                </label>
							{% endif %}
        <!-- A Stripe card element will go here -->
        <div class="mb-3" id="card-element"></div>
    
        <!-- Used to display form errors -->
        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
    </fieldset>
    <button id="submit-button" type="submit">create order</button>
</form>

{% if basket_items|length > 0 %}
{% for item in basket_items %}
<p><a href="{% url 'item_detail' item.item.id %}">{{ item.item.title }}</a>: {{ item.price }} by {% for author in item.item.author.all %}{% if not forloop.first %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %} {{ author }}{% endfor %}, quantity: {{ item.quantity }}</p>
{% endfor %}
{% else %}
<p>There are no items in your basket.</p>
</div>
{% endif %}
{% endblock %}
{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}