/* * {
    background: transparent;
}
html {
    background: url(space_background.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */

body {
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

/* Header - logo and subhead */

header {
    text-align: center;
    padding: 30px;
    background: transparent;
}

h3 {
    font-weight: 300;
}

#logo-header {
    font-family: 'Henny Penny', cursive;
    font-size: 5rem;
}

/* Nav bar */
#search-field:last-child {
    margin-left: auto;
}

.item img {
    max-width: 70%;
    margin: auto;
    display: block;
}

#planet {
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#popup {
    height: 200px;
    width: 100px;
    position: sticky;
    bottom: 10px;
    left: 10px;
}

#shape-1, #shape-2, #shape-3 {
    z-index: 10;
    position: relative;
    border-radius: 50%;
}

#shape-1 {
    height: 80px;
    width: 80px;
    background-color: red;
    bottom: 10px;
    left: 0px;
}

#shape-2 {
    visibility: hidden;
    height: 50px;
    width: 50px;
    background-color: blue;
    bottom: 130px;
    left: 70px;
}

#shape-3 {
    visibility: hidden;
    height: 25px;
    width: 25px;
    background-color: green;
    bottom: 185px;
    left: 130px;
}