* {
  /* background: #f2f0e6; */



}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background: rgb(255,253,245);
  background: linear-gradient(266deg, rgba(255,253,245,1) 25%, rgba(255,254,249,1) 39%, rgba(254,255,255,1) 92%);
}

a {
  text-decoration: none !important;
  color: inherit !important;
}


hr {
  background: #fefefa;

}

/* Header - logo and subhead */

header {
  text-align: center;
  padding: 30px;
  color: rgb(51, 51, 51);
  border-bottom: 1px solid rgb(173, 173, 173);
  border-top: 1px solid rgb(173, 173, 173);
}

nav {
  border-bottom: 1px solid rgb(173, 173, 173);
  background: #fff;
}

.navbar-light {
  background: #fff;
}

h3 {
  font-weight: 300;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-light {
  display: flex;
  justify-content: space-between;
  background:#fefefa;
}

#sort-select {
  width: 20%;
}

.carousel-item {
  width: 100%;
  position: relative;
}



#overlay {
  position: absolute; /* Sit on top of the page content */
  display: block; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 40%; /* Full height (cover the whole page) */
  top: 10%;
  left: 0;
  background: rgba(0,0,0,0.3); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

#overlay-text {
  position: absolute;
  top: 50%;
  left: 70%;
  font-size: 40px;
  font-family: 'Henny Penny', cursive;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.0);
}

#image-1 {
  background-image: url('/media/animals.jpeg');
}

#image-2 {
  background-image: url('/media/cogs.jpeg');
}

#image-3 {
  background-image: url('/media/space-young.jpeg');
  color: white;
}

#image-1, #image-2, #image-3 {
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: 0px 0;
  height: 350px;
}

#logged-in-msg {
  display: inline;
  margin-right: 20px;
}

.badge.start-100 {
  margin-top: 4px;
  left: 105%;
}

/* .fas.fa-user-alt, .btn .fa-shopping-basket{
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.btn .fa-shopping-basket {
  position: relative;
  top: 4px;
  color: white;
} */

button.btn {
  /* background-color: white;
  color: rgb(180, 226, 240); */
  border: none;
}

.btn.btn-secondary.dropdown-toggle::after {
  display: none;
}



h1#logo-header {
  font-family: 'Henny Penny', cursive;
  font-size: 5rem;
  color: rgb(39, 37, 37) !important;
}

/* Nav bar */
#search-field:last-child {
  margin-left: auto;
}

.item {
  height: 580px;
}

#title-author {
  /* height: 40%; */
}

.zig-zag {
  background:
    linear-gradient(135deg, #eee 25%, transparent 25%) -10px 0,
    linear-gradient(225deg, #eee 25%, transparent 25%) -10px 0,
    linear-gradient(315deg, #eee 25%, transparent 25%),
    linear-gradient(45deg, #eee 25%, transparent 25%);
  background-size: 20px 20px;
  background: #fff;
}

.card-img-top {

  max-height: 250px;
  overflow: hidden;
  margin: 0;
}

.card-body {
  height: 250px;
  padding-top: 5px;
  position: relative;
}

.item img {
  padding: 20px;
  object-fit: contain;

}

.item-card p {
  margin: 0;
  padding: 0;
}

.item-card-title {
  text-transform: uppercase;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}




/* .price-add-col {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 1rem;
  position: absolute;
  left: 0px;
  bottom: 0px;
} */

.item-card-price {
  font-size: 1.2rem;
  align-self: flex-end;
}

.price-row {
  width: 100%;
  display: flex;
  align-items: flex-end;
  position: absolute;
  left: 12px;
  bottom: 0px;
  padding: 0.5rem;
}

.item-card-price strike {
  font-size: 0.9rem;
  color: black;
}

.item-card-price.sale {
  font-size: 1.1rem;
  color: red;
}



/* .price-add{
  display: inline-block;
margin-bottom: auto;

} */


.item-card-descriptions {}

.item-card-author {
  font-size: 00.8rem;
}

.user-controls {
  color: rgb(46, 46, 46);
  font-size: 0.8rem;
}

.user-controls.card-footer {
  padding: 0.1rem 0.3rem;
}

.items-add-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.items-add-form button {
  border-radius: 2px;
  margin: 0 0 0 1px;
  padding: 1%;
}

.items-add-form button i {
  margin: auto;
}

/* .btn-outline-primary {
  margin: 10px;
} */

button.btn.btn-outline-secondary {
  height: 30px;
  width: fit-content;
  padding: 0.5rem;
  display: flex;
  align-content: center;
  margin-top: auto;
}

/* CREDIT W3Schools for Cover Image Modal display */

#header-cover {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#header-cover:hover {
  opacity: 0.7;
}

.line-item {
  border-top: rgb(39, 37, 37) solid 1px;

}

.line-detail {
  max-width: 400px;
  word-wrap: break-word;

}

.line-item-img {
  height: 100px;
  padding: 20px !important;
}

table form {
  display: inline;
}

.quantity-input.form-control {
  width: 20%;
  display: inline;
}

table form button.btn.btn-outline-secondary {
  display: inline;
  width: 30%;
}

#basket-table tr:nth-child(4),
#basket-table tr:nth-child(5) {
  border: 1px grey solid;
  height: 50px;
}

#delivery,
#grand_total {
  margin-left: 20px !important;
  margin-bottom: 0px;
  float: right;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background: rgb(0, 0, 0);
  /* Fallback color */
  background: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 60%;
  max-width: 500px;
}



/* Add Animation - Zoom in the Modal */
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0.6)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

/* END IMAGE MODAL */

/* EXPERIMENTAL */
/* #planet {
    height: 200px;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

#popup {
    height: 200px;
    width: 100px;
    position: sticky;
    bottom: 10px;
    left: 10px;
}

#shape-1, #shape-2, #shape-3 {
    z-index: 10;
    position: relative;
    border-radius: 50%;
}

#shape-1 {
    height: 80px;
    width: 80px;
    background-color: red;
    bottom: 10px;
    left: 0px;
}

#shape-2 {
    visibility: hidden;
    height: 50px;
    width: 50px;
    background-color: blue;
    bottom: 130px;
    left: 70px;
}

#shape-3 {
    visibility: hidden;
    height: 25px;
    width: 25px;
    background-color: green;
    bottom: 185px;
    left: 130px;
} */

.home-card {
  height: 250px;
  width: 250px;
  margin-top: 20px;
  background: rgba(255, 235, 205, 0.466);
  background-size: 100% auto;
  background-position: center 100%;
  background-repeat: no-repeat;
  z-index: 100;
}

@media screen and (max-width: 480px) {
  .home-card {
    height: 100px;
  }
}

@media screen and (max-width: 1200px) {
  .home-card {

    width: 100%;
  }
}

select#id_author {
  visibility: visible;
}

.message-container {
  position: fixed;
  top: 80px;
  right: 15px;
  z-index: 999999999;
}

/* 
.dropdown-menu.show.dropdown-menu[data-bs-popper] {
  position: absolute;
  left: -150px;
} */

.table tbody,
.table td,
.table tfoot,
.table th,
.table thead th,
.table tr {
  border-color: transparent;
  border-width: 0px;
  border-bottom-width: 0px;
  border-bottom-color: transparent;
  border-bottom: none;
  border-top: none;
}

.table td {
  padding: 3px 3px 3px 8px !important;
}

.table thead th {
  vertical-align: middle;
}

.items-row {
  height: 500px;
}