<div class="row">
    {% if narrow_age is True %}
    <div>
    <p>Narrow your search by age:</p></div>
    <div class="narrow-search-buttons">
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }}{% if not forloop.last %},{% endif %}{% endfor %}&ages_narrow=preschool">Little learners</a>
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }}{% if not forloop.last %},{% endif %}{% endfor %}&ages_narrow=5-7,6-8">Little readers</a>
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }}{% if not forloop.last %},{% endif %}{% endfor %}&ages_narrow=8-10,teen">Big readers</a>
        </div>
    {% endif %}
    {% if narrow_genre is True %}
<div><p>Narrow your search by subject:</p></div>
<div class="narrow-search-buttons">
    <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }}{% if not forloop.last %},{% endif %}{% endfor %}&genres_narrow=animals">Animals</a>
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }}{% if not forloop.last %},{% endif %}{% endfor %}&genres_narrow=space">Space</a>
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }}{% if not forloop.last %},{% endif %}{% endfor %}&genres_narrow=history">History</a>
        </div>
      {% endif %}
                <select id='sort-select' class="form-select form-select-sm" aria-label="">
            <option selected>sort by</option>
            <option href="{% url 'items' %}" value="price_high_low">Price: high-low</option>
            <option href="{% url 'items' %}" value="price_low_high">Price: low-high</option>
            <option href="{% url 'items' %}" value="title_az">Title (A-Z)</option>
            <option href="{% url 'items' %}" value="most_discounted">Most Discounted</option>
            <option href="{% url 'items' %}" value="quantity_sold">Most Popular</option>
          </select>
</div>

<script>
$('#sort-select').change(function() {
  let selector = $(this);
  let currentUrl = new URL(window.location);
  let queryString = new URLSearchParams(currentUrl.search)
  let selectedVal = selector.val();

  let qtoString = queryString.toString()
  let alteredString = qtoString.replace("%2C",",")


  let newString = `?${alteredString}&sort=${selectedVal}`
  let alteredNewString = newString.replace("%3D", "=")
  let string = alteredNewString
  document.location = string;
})
</script>