<div class="row">
    {% if narrow_age is True %}
    <div>
    <p>Narrow your search by age:</p></div>
    <div class="narrow-search-buttons">
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }},{% endfor %}&ages_narrow=preschool">Little learners</a>
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }},{% endfor %}&ages_narrow=5-7,6-8">Little readers</a>
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?genres={% for g in genres %}{{ g }},{% endfor %}&ages_narrow=8-10,teen">Big readers</a>
        </div>
    {% endif %}
    {% if narrow_genre is True %}
<div><p>Narrow your search by subject:</p></div>
<div class="narrow-search-buttons">
    <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }},{% endfor %}&genres_narrow=animals">Animals</a>
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }},{% endfor %}&genres_narrow=space">Space</a>
          <a class="btn btn-outline-primary" aria-labelledby="" href="{% url 'items' %}?ages={% for a in ages %}{{ a }},{% endfor %}&genres_narrow=history">History</a>
        </div>
      {% endif %}
</div>