<nav>
  {% include 'includes/search_bar.html' %}     
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'items' %}">Show all</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=animals">Animals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=space">Space</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=prehistory">Prehistory</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=nature">Nature</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=science">Science</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages=ages">Preschool</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages=5-7">5-7</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages=8-10">8-10</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages=teen">Teen</a>
          </li>
        </ul>
  </nav>
