<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'items' %}">Show all</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=animals">Animals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=space">Space</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?genres=history">History</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages=preschool">Little learners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages=5-7,6-8">Little Readers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-labelledby="" href="{% url 'items' %}?ages=8-10,teen">Big readers</a>
          </li>
        </ul>
        <form class="d-flex" id="search-field">
          <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="q">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
