<div class="sort-field">
    <select id='sort-select' class="form-select form-select-sm" aria-label="">
        <option {% if sort_by == None %} selected {% endif %} disabled>sort by</option>
        <option value="price_high_low" {% if sort_by == '-final_price' %} selected {% endif %}>Price: high-low</option>
        <option value="price_low_high" {% if sort_by == 'final_price' %} selected {% endif %}>Price: low-high</option>
        <option value="title_az" {% if sort_by == 'lower_title' %} selected {% endif %}>Title (A-Z)</option>
        <option value="most_discounted" {% if sort_by == '-discount_amount' %} selected {% endif %}>Most Discounted</option>
        <option value="quantity_sold" {% if sort_by == 'quantity_sold' %} selected {% endif %}>Most Popular</option>
        <option value="newly_listed" {% if sort_by == 'newly_listed' %} selected {% endif %}>New In</option>
    {% if featured %}
        <option value="featured" {% if sort_by == 'featured' %} selected {% endif %}>Featured</option>
    {% endif %}
    </select>
    </div>

<script>
    $('#sort-select').change(function() {
      let selector = $(this);
      let currentUrl = new URL(window.location);
      let queryString = new URLSearchParams(currentUrl.search)
      let selectedVal = selector.val();
    
      let qtoString = queryString.toString()
      let alteredString = qtoString.replace("%2C",",")
    
      let newString = `?${alteredString}&sort=${selectedVal}`
      let alteredNewString = newString.replace("%3D", "=")
      let string = alteredNewString
      document.location = string;
    })
    </script>