<div class="navbar navbar-light bg-light pt-3">
  {% include 'includes/search_bar.html' %}
  <div id="user-admin-box">
  <div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" data-bs-display="static" aria-expanded="false"><i class="fas fa-shopping-basket"></i></button>
    {% if basket_items %}
    <span class="position-absolute top-0 start-0 translate-middle badge rounded-pill bg-danger">
      {{ total_items }}
    </span>
    {% endif %}
    <ul class="dropdown-menu p-4 text-muted dropdown-menu-end">
      <p class="dropdown-header">Your basket:</p>
      <div class="dropdown-divider"></div>
      {% for item in basket_items %}
      <p class="text-truncate">{{ item.item.title }}</p>
      {% endfor %}
      <p>£{{ basket_total }}</p>
      <li><a class="dropdown-item" href="{% url 'view_basket' %}">View basket</a></li>
      <li><a class="dropdown-item" href="{% url 'checkout' %}">Go to checkout</a></li>
    </ul>
  </div>

<div class="btn-group">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="fas fa-user-alt"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink">
      {% if request.user.is_authenticated %}
      <li><a class="dropdown-item" href="{% url 'profile' %}">Account</a></li>
      <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log out</a></li>
      {% if request.user.is_superuser %}
      <li>
        <a class="dropdown-item" href="{% url 'add_item' %}">Add items</a>
      </li>
      {% endif %}

      {% else %}
      <li><a class="dropdown-item" href="{% url 'account_login' %}">Log in</a></li>
      <li><a class="dropdown-item" href="{% url 'account_signup' %}">Register</a></li>

      {% endif %}
    </ul>
  </div>
  </div>
</div>