{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-8 col-lg-6">
            <div class="manage-cards card">
                <div class="card-header zig-zag">
                    <div class="white-fade"></div>
                    <h5 id="top-layer-reset-from-key-done">
                        {% trans "Change Password" %}
                    </h5>
                </div>
                <div class="card-body">
    <p>{% trans 'Your password is now changed.' %}</p>
                </div>
                </div>
                </div>
                </div>
            </div>
{% endblock %}
