{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class="container">
    <div class="row justify-content-center ">
        <div class="col-md-12 col-lg-8">
            <div class="manage-cards card">
                <div class="card-header zig-zag">
                    <div class="white-fade"></div>
                    <h5 id="top-layer-signin">{% trans "Password Reset" %}</h5>
                </div>
                <div class="card-body">
    
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
{% endblock %}
</div>
</div>
</div>
</div>
</div>