{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="container">
  <div class="row justify-content-center ">
      <div class="col-md-12 col-lg-8">
<div class="manage-cards card">
<div class="card-header cogs">
  <div class="white-fade"></div>
<h3>Register</h3>
<span>{% blocktrans %}Already have an account? Then please <a id="signin" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</span>

</div>
<div class="card-body">
<form class="" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form | crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="btn btn-secondary standard-button" type="submit" aria-label="Register account">{% trans "Sign Up" %}</button>
</form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}
