{% load static %}
<!doctype html>
<html lang="en">

<head>
  {% block meta %}
  <meta http-equiv="X-UA-Compatible" content="ie-edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block core_css %}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@400;700&display=swap"
    rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Henny+Penny&family=Manrope:wght@200&family=Milonga&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">  
    {% endblock %}

  {% block extra_css %}
  {% endblock %}

  {% block core_js %}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
  </script>

  
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>Hello, world! {% block extra_title %}{% endblock %}</title>

</head>

<body>
  {% block header %}
  <header>
    <h1 id=logo-header>Big Idea Books</h1>
    <h3>curated non-fiction for kids</h3>
<p>Welcome back, {{ user }}</p>
    {% if request.user.is_authenticated %}
    <a href="{% url 'profile' %}">My account</a>
    <a href="{% url 'account_logout' %}">Log out</a>

    {% if request.user.is_superuser %}
    <a href="{% url 'add_item' %}">Add items</a>
    {% endif %}
    {% else %}

    <a href="{% url 'account_login' %}">Log in</a>
    <a href="{% url 'account_signup' %}">Register</a>

{% endif %}
  </header>


  {% include 'includes/nav.html' %}
  {% endblock %}
  



  {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}

  {% block subhead %}
  {% endblock %}
 


  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  {% endblock %}
  <!-- <footer>  <img src="static/css/planet.svg" alt=""></footer> -->

</body>

</html>